<p id="notice"><%= flash[:notice] %></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/list', book: @book, user: @user %>
    </div>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <thead>
            <tr>
              <td>
                <%= link_to user_path(@books.user.id) do %>
                  <%= attachment_image_tag @books.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %></br>
                  <%= @books.user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@books.id) do %>
                  <%= @books.title %>
                <% end %>
              </td>
              <td>
                <%= @books.body %>
              </td>
              <td>
                <% if @books.user == current_user %>
                  <%= link_to "Edit", edit_book_path(@books.id), class: 'btn btn-sm btn-success' %>
                <% end %>
              </td>
              <td>
                <% if @books.user == current_user %>
                  <%= link_to "Destroy", book_path(@books), method: :delete, data: { confirm: '本当に消しますか?' }, class: 'btn btn-sm btn-danger' %>
                <% end %>
              </td>
            </tr>
          </thead>
        </table>
      </div>
  </div>
</div>


